[Desktop Entry]
Type=Application
Name=Lowland
Exec=Lowland

# name we put on the WM spec check window
X-GNOME-WMName=Lowland

# our config tool
ConfigExec=obconf

[Window Manager]
SessionManaged=true
