[Desktop Entry]
Type=Application
Name=Lowland 
Exec=lowland
Icon=lowland
NoDisplay=true
# name we put on the WM spec check window
X-GNOME-WMName=Lowland
# gnome-session autostart
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
# Ubuntu stuff
X-Ubuntu-Gettext-Domain=lowland
# back compat
X-GNOME-Autostart-Notify=true
